---
import { App as AppComp } from "../comp/app";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>APp</h1>
    <AppComp client:load />
  </body>
</html>
