---
import Layout from "../layouts/layout.astro";
import { spotifyLoginURL } from "../lib/spotify";

const loginUri = spotifyLoginURL();
---

<Layout>
  <header><h1>App</h1></header>
  <h1>HOME</h1>
  <p>THis is cool music listening app</p>
  <a href={loginUri}>Get started</a>
</Layout>
