body {
  background: rgb(15, 15, 15);
  color: white;

  font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
}

.row {
  display: grid;
  --black-fr: 0.55fr;
  grid-template-columns:
    1fr var(--black-fr) 1fr var(--black-fr) 1fr 1fr var(--black-fr)
    1fr var(--black-fr) 1fr var(--black-fr) 1fr;
}

.key0,
.key1,
.key2,
.key3,
.key4,
.key5,
.key6,
.key7,
.key8,
.key9,
.key10,
.key11,
.key12 {
  background-color: white;
  color: black;
  position: relative;
}

.key1,
.key3,
.key6,
.key8,
.key10 {
  background-color: black;
  color: white;
}
:is(.key1, .key3, .key6, .key8, .key10) .note {
  margin: 0 6px;
}

.note {
  margin: 0 8px;
  border-radius: 6px;
  text-align: center;
  height: 100%;
}

.key4 {
  border-right: 2px solid black;
}
.key5 {
  border-left: 2px solid black;
}
